﻿
@{
    ViewBag.Title = "Stoper";
}
<link href="~/Content/Stoper.css" rel="stylesheet" />

<h2>Stoper</h2>
<h3 id="stoper">0:0:0</h3>
<div id="container">
    <div id="box"></div>
</div>
<div>
    <button class="btn btn-primary" onclick="start()">start</button>
    <button class="btn btn-toolbar" onclick="stop()">stop</button>
    <button class="btn btn-warning" onclick="reset()">reset</button>
</div>

<script src="~/Scripts/Stoper.js"></script>
