﻿@model IEnumerable<PaliwoMVC.Models.Paliwo>
@{
    ViewBag.Title = "Index";
}

<h2>Dotychczasowe jazdy</h2>
<table class="table table-striped">
    <tr>
        <td>Kilometry</td>
        <td>Spalanie</td>
        <td>Ilość osób</td>
        <td>Cena paliwa</td>
        <td>Czy w dwie strony</td>
        <td>Data</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Kilometry)
            </td>
            <td>
                @Html.DisplayFor(m => item.Spalanie)
            </td>
            <td>
                @Html.DisplayFor(m => item.Osoby)
            </td>
            <td>
                @Html.DisplayFor(m => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(m => item.DwieStrony)
            </td>
            <td>
                @Html.DisplayFor(m => item.Data)
            </td>
            <td>
                @Html.ActionLink("Użyj", "Obliczanie", new { id = item.Id })
            </td>
        </tr>
    }
</table>
