﻿@model PaliwoMVC.Models.Paliwo
@{
    ViewBag.Title = "Obliczanie";
}

<h2 align="center">Hajs za Paliwo</h2>

@using (Html.BeginForm("Form", "Paliwo"))
{
    <div class="form-group">
        @Html.LabelFor(a => Model.Kilometry)
        @Html.TextBoxFor(a => Model.Kilometry, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.Kilometry)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => Model.Spalanie)
        @Html.TextBoxFor(a => Model.Spalanie, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.Spalanie)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => Model.Cena)
        @Html.TextBoxFor(a => Model.Cena, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => Model.Osoby)
        @Html.DropDownListFor(a => Model.Osoby, new SelectList(new List<Int32> { 1, 2, 3, 4, 5 }), "Ilość osób", new { @class = "form-control" })
    </div>
    <div class="form-group checkbox">
        @Html.LabelFor(a => Model.DwieStrony)
        @Html.CheckBoxFor(m => Model.DwieStrony)
    </div>
    @Html.AntiForgeryToken()
    <button class="btn btn-group-lg btn-primary" type="submit">Przelicz</button>
    <div class="container">
        <h3>@ViewBag.Wynik</h3>
    </div>

    @section scripts{
        @*<script src="~/Scripts/jquery-3.2.1.js"></script>
            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

    }
}

