﻿body {
}
button{
    margin:5px;
}
#stoper{    
    color: orangered;
}
#container{
    width:125px;
    height:25px;
    background-color:yellow;
    margin-bottom:20px;
}
#box {
    width: 25px;
    height: 25px;
    background-color: red;
}